<div class="row">
    <div class="col-md-1 col-lg-1" style="padding:0px 5px 0px 5px">
        <div><small>{{trackInfo}}</small></div>
        <div>
            <img [src]="muteButtonCurrentImage" width="25" (click)="toggleMute()">
            <span> - </span>
            <a (click)="toggleSolo()"><small>{{soloUnsolo}}</small></a>
        </div>
        <div style="width:100%;height:26">
            <slider-soret sliderId="sliderVol{{trackNotesNumber}}" (valueChange)="volumeChange($event)"
            boxHeight="26" barHeight="5" radius="7" enabled="true" initialValue="{{initialVolume}}">
        </slider-soret>
        </div>
    </div>
    <div class="col-md-11 col-lg-11" style="padding:0px">
        <svg id="svgBox{{trackNotesNumber}}" width="100%" height="150" style="border: 1px solid black; background-color:white"
            xmlns="http://www.w3.org/2000/svg">
            </svg>
    </div>
</div>