<div class="container">
	<div class="row">
		<div class="col">
			<h2>Music Styles</h2>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" [class.active]="selectedStyleId===''">
						<a (click)="selectStyle('')">All</a>
					</li>
					<li class="list-group-item" [class.active]="style._id===selectedStyleId"
						*ngFor='let style of styles'>
						<a (click)='selectStyle(style._id)'>{{style.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<h2>Bands</h2>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" [class.active]="selectedBandId===''">
						<a (click)="selectBand('')">All</a>
					</li>
					<li class="list-group-item" [class.active]="band._id===selectedBandId"
						*ngFor="let band of (bands | sortBy : 'name')">
						<a (click)='selectBand(band._id)'>{{band.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div class="panel panel-info">
				<h2>Songs</h2>
				<div class="row">
					<ul class="list-group">
						<li class="list-group-item" *ngFor='let song of songs | songFilter:listFilter'>
							<a (click)='selectSong(song._id)'>{{song.name}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-6" style="padding:20px">
			<h2>Upload midi files</h2>
			<div>Create a zip file that has a folder structure with the music style in the root,
				the bands as folders and the songs as files inside the folders. The songs will
				be extracted from the zip file and assigned music style and band name as per the
				folder names.
			</div>
			<form id="formSongUpload" action="http:localhost:3000/songsLibrary" enctype="multipart/form-data"
				method="post" class="form-horizontal">
				<div class="form-group" style="padding:20px">
					<label class="btn btn-danger btn-file">Browse
						<input type="file" style="display: none;" name="musicFile" (change)="fileChange(input)"
							#input />
					</label>
				</div>
				<div>
					<label id="fileSelected"  style="padding:20px">{{selectedFileName}}{{uploadResult}}</label>
					<button *ngIf='selectedFileName!==""' class="btn btn-danger btn-file"
						(click)='UploadHandler()'>Upload
					</button>
				</div>
			</form>
		</div>
		<div class="col col-lg-6" style="padding:20px">
Aca va la cancion seleccionada
		</div>
	</div>
</div>
