<div class="container">
	<div class="row">
		<div class="col">
			<h2>Music Styles</h2>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" [class.active]="selectedStyleId===''">
						<a (click)="selectStyle('')">All</a>
					</li>
					<li class="list-group-item" [class.active]="style._id===selectedStyleId"
						*ngFor='let style of styles'>
						<a (click)='selectStyle(style._id)'>{{style.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<h2>Bands</h2>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" [class.active]="selectedBandId===''">
						<a (click)="selectBand('')">All</a>
					</li>
					<li class="list-group-item" [class.active]="band._id===selectedBandId"
						*ngFor="let band of (bands | sortBy : 'name')">
						<a (click)='selectBand(band._id)'>{{band.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div class="panel panel-info">
				<h2>Songs</h2>
				<div class="row">
					<ul class="list-group">
						<li class="list-group-item" *ngFor='let song of songs | songFilter:listFilter'>
							<a (click)='selectSong(song._id)'>{{song.name}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form id="formSongUpload" action="http:localhost:3000/songsLibrary" enctype="multipart/form-data"
				method="post" class="form-horizontal">
				<div class="form-group">
					<label for="songName" class="col-sm-3 control-label">Upload file</label>
					<label class="btn btn-default btn-file">Browse
						<input type="file" style="display: none;" name="musicFile" (change)="fileChange(input)"
							#input />
					</label>
					<label id="fileSelected">{{selectedFileName}}{{uploadResult}}</label>
					<button *ngIf='selectedFileName!==""' class="btn btn-default btn-file"
						(click)='UploadHandler()'>Upload
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<song-panel [selectedSongId]="selectedSongId"></song-panel>
</div>