<svg id="{{sliderId}}" width="100%" (mouseup)='MouseUp()' (mousemove)='MoveControl($event)' style="background-color:#272b30"
    xmlns="http://www.w3.org/2000/svg">
   <rect id="{{sliderId}}rectangle"  width="100%" fill="rgb(0,61,245)" (click)="barClicked($event)" />
    <circle id="{{sliderId}}circle" fill="black" class="draggable" (mousedown)='MouseDown($event)' fill="rgb(0,46,184)"
    />
    <defs>
        <linearGradient id="GradientSoret1" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="#20A" />
            <stop offset="100%" stop-color="#83D" />
        </linearGradient>
        <radialGradient id="GradientSoret2">
            <stop offset="0%" stop-color="#83D" />
            <stop offset="100%" stop-color="#20A" />
        </radialGradient>
    </defs>
    </svg>